OBJECT:CREATURE|CREATURE:$|CREATURE_TILE:?
OBJECT:CREATURE|CREATURE:$|COLOR:?(3,3)
OBJECT:CREATURE|CREATURE:$|GLOWTILE:?
OBJECT:CREATURE|CREATURE:$|GLOWCOLOR:?(3,3)
OBJECT:CREATURE|CREATURE:$|ALTTILE:?
OBJECT:CREATURE|CREATURE:$|CASTE:$|CASTE_ALTTILE:?
OBJECT:CREATURE|CREATURE:$|CASTE:$|CASTE_COLOR:?(3,3)
OBJECT:CREATURE|CREATURE:$|CASTE:$|CASTE_GLOWCOLOR:?(3,3)
OBJECT:CREATURE|CREATURE:$|CASTE:$|CASTE_GLOWTILE:?
OBJECT:CREATURE|CREATURE:$|CASTE:$|CASTE_SOLDIER_ALTTILE:?
OBJECT:CREATURE|CREATURE:$|CASTE:$|CASTE_SOLDIER_TILE:?
OBJECT:CREATURE|CREATURE:$|CASTE:$|CASTE_TILE:?
OBJECT:CREATURE|CREATURE:$|CREATURE_SOLDIER_TILE:?
OBJECT:CREATURE|CREATURE:$|CASTE:$|REMAINS_COLOR:?(3,3)
OBJECT:CREATURE|CREATURE:$|REMAINS_COLOR:?(3,3)
OBJECT:CREATURE|CREATURE:$|SENSE_CREATURE_CLASS:$:?(4,4)
OBJECT:CREATURE|CREATURE:$|CASTE:$|SENSE_CREATURE_CLASS:$:(4,4)
OBJECT:CREATURE|CREATURE:$|SOLDIER_ALTTILE:?
OBJECT:CREATURE|CREATURE:$|USE_MATERIAL_TEMPLATE:$:&|DISPLAY_COLOR:?(3,3)
OBJECT:CREATURE|CREATURE:$|CASTE:$|USE_MATERIAL_TEMPLATE:$:&|DISPLAY_COLOR:?(3,3)
OBJECT:CREATURE|CREATURE:$|CASTE:$|USE_MATERIAL_TEMPLATE:$:&|TILE:?
OBJECT:CREATURE|CREATURE:$|CASTE:$|USE_MATERIAL_TEMPLATE:$:&|ITEM_SYMBOL:?
OBJECT:CREATURE|CREATURE:$|CASTE:$|USE_MATERIAL_TEMPLATE:$:&|BUILD_COLOR:?(3,3)
OBJECT:CREATURE|CREATURE:$|CASTE:$|USE_MATERIAL_TEMPLATE:$:&|BASIC_COLOR:?(2,2)

OBJECT:PLANT|PLANT:$|GROWTH:$|GROWTH_PRINT:?(5,5):$(2,2):&(0,1)
OBJECT:PLANT|PLANT:$|GROWTH:$|GROWTH_PRINT:?(5,5):ALL:&(0,1)
OBJECT:PLANT|PLANT:$|GROWTH:$|GROWTH_PRINT:?(5,5):NONE:&(0,1)
OBJECT:PLANT|PLANT:$|TREE_TILE:?
OBJECT:PLANT|PLANT:$|DEAD_TREE_TILE:?
OBJECT:PLANT|PLANT:$|SAPLING_TILE:?
OBJECT:PLANT|PLANT:$|DEAD_SAPLING_TILE:?
OBJECT:PLANT|PLANT:$|TREE_COLOR:?(3,3)
OBJECT:PLANT|PLANT:$|DEAD_TREE_COLOR:?(3,3)
OBJECT:PLANT|PLANT:$|SAPLING_COLOR:?(3,3)
OBJECT:PLANT|PLANT:$|DEAD_SAPLING_COLOR:?(3,3)
OBJECT:PLANT|PLANT:$|PICKED_TILE:?
OBJECT:PLANT|PLANT:$|DEAD_PICKED_TILE:?
OBJECT:PLANT|PLANT:$|SHRUB_TILE:?
OBJECT:PLANT|PLANT:$|DEAD_SHRUB_TILE:?
OBJECT:PLANT|PLANT:$|PICKED_COLOR:?(3,3)
OBJECT:PLANT|PLANT:$|DEAD_PICKED_COLOR:?(3,3)
OBJECT:PLANT|PLANT:$|SHRUB_COLOR:?(3,3)
OBJECT:PLANT|PLANT:$|DEAD_SHRUB_COLOR:?(3,3)
OBJECT:PLANT|PLANT:$|GRASS_TILES:?(4,4)
OBJECT:PLANT|PLANT:$|ALT_GRASS_TILES:?(4,4)
OBJECT:PLANT|PLANT:$|GRASS_COLORS:?(12,12)
OBJECT:PLANT|PLANT:$|ALT_PERIOD:?(2,2)
OBJECT:PLANT|PLANT:$|SEED:&(2,2):?(3,3):&(2,2)
OBJECT:PLANT|PLANT:$|USE_MATERIAL_TEMPLATE:$:&|DISPLAY_COLOR:?(3,3)
OBJECT:PLANT|PLANT:$|USE_MATERIAL_TEMPLATE:$:&|TILE:?
OBJECT:PLANT|PLANT:$|USE_MATERIAL_TEMPLATE:$:&|ITEM_SYMBOL:?
OBJECT:PLANT|PLANT:$|USE_MATERIAL_TEMPLATE:$:&|BUILD_COLOR:?(3,3)
OBJECT:PLANT|PLANT:$|USE_MATERIAL_TEMPLATE:$:&|BASIC_COLOR:?(2,2)

MATERIAL_TEMPLATE:$|TILE:?
MATERIAL_TEMPLATE:$|ITEM_SYMBOL:?
MATERIAL_TEMPLATE:$|DISPLAY_COLOR:?(3,3)
MATERIAL_TEMPLATE:$|BUILD_COLOR:?(3,3)
MATERIAL_TEMPLATE:$|BASIC_COLOR:?(2,2)

INORGANIC:$|DISPLAY_COLOR:?(3,3)
INORGANIC:$|TILE:?
INORGANIC:$|ITEM_SYMBOL:?
INORGANIC:$|BUILD_COLOR:?(3,3)
INORGANIC:$|BASIC_COLOR:?(2,3)

OBJECT:BUILDING|BUILDING_WORKSHOP:$|NAME_COLOR:?(3,3)
OBJECT:BUILDING|BUILDING_WORKSHOP:$|TILE:$(2,2):?(1,)
OBJECT:BUILDING|BUILDING_FURNACE:$|TILE:$(2,2):?(1,)
OBJECT:BUILDING|BUILDING_WORKSHOP:$|COLOR:$(2,2):?(1,)
OBJECT:BUILDING|BUILDING_FURNACE:$|COLOR:$(2,2):?(1,)

OBJECT:ENTITY|ENTITY:$|POSITION:$|COLOR:?(3,3)
OBJECT:ENTITY|ENTITY:$|FRIENDLY_COLOR:?(3,3)

OBJECT:ITEM|ITEM_TOOL:$|TILE:?
OBJECT:ITEM|ITEM_TOOL:$|INVERTED_TILE

OBJECT:GRAPHICS|TILE_PAGE:$|FILE:?
OBJECT:GRAPHICS|TILE_PAGE:$|TILE_DIM:?:?
OBJECT:GRAPHICS|TILE_PAGE:$|PAGE_DIM:?:?

OBJECT:GRAPHICS|CREATURE_GRAPHICS:$|$:$:?:?:?:?
OBJECT:GRAPHICS|CREATURE_GRAPHICS:$|$:$:?:?:ADD_COLOR

TILESET:?:?

OBJECT:LANGUAGE|TRANSLATION:$|T_WORD:$:?

BLACK_R:?
BLACK_G:?
BLACK_B:?
BLUE_R:?
BLUE_G:?
BLUE_B:?
GREEN_R:?
GREEN_G:?
GREEN_B:?
CYAN_R:?
CYAN_G:?
CYAN_B:?
RED_R:?
RED_G:?
RED_B:?
MAGENTA_R:?
MAGENTA_G:?
MAGENTA_B:?
BROWN_R:?
BROWN_G:?
BROWN_B:?
LGRAY_R:?
LGRAY_G:?
LGRAY_B:?
DGRAY_R:?
DGRAY_G:?
DGRAY_B:?
LBLUE_R:?
LBLUE_G:?
LBLUE_B:?
LGREEN_R:?
LGREEN_G:?
LGREEN_B:?
LCYAN_R:?
LCYAN_G:?
LCYAN_B:?
LRED_R:?
LRED_G:?
LRED_B:?
LMAGENTA_R:?
LMAGENTA_G:?
LMAGENTA_B:?
YELLOW_R:?
YELLOW_G:?
YELLOW_B:?
WHITE_R:?
WHITE_G:?
WHITE_B:?

WOUND_COLOR_NONE:?:?:?
WOUND_COLOR_MINOR:?:?:?
WOUND_COLOR_INHIBITED:?:?:?
WOUND_COLOR_FUNCTION_LOSS:?:?:?
WOUND_COLOR_BROKEN:?:?:?
WOUND_COLOR_MISSING:?:?:?

SKY:?:?:?:?

CHASM:?:?:?:?

PILLAR_TILE:?

TRACK_N:?
TRACK_S:?
TRACK_E:?
TRACK_W:?
TRACK_NS:?
TRACK_NE:?
TRACK_NW:?
TRACK_SE:?
TRACK_SW:?
TRACK_EW:?
TRACK_NSE:?
TRACK_NSW:?
TRACK_NEW:?
TRACK_SEW:?
TRACK_NSEW:?
TRACK_RAMP_N:?
TRACK_RAMP_S:?
TRACK_RAMP_E:?
TRACK_RAMP_W:?
TRACK_RAMP_NS:?
TRACK_RAMP_NE:?
TRACK_RAMP_NW:?
TRACK_RAMP_SE:?
TRACK_RAMP_SW:?
TRACK_RAMP_EW:?
TRACK_RAMP_NSE:?
TRACK_RAMP_NSW:?
TRACK_RAMP_NEW:?
TRACK_RAMP_SEW:?
TRACK_RAMP_NSEW:?

TREE_ROOT_SLOPING:?
TREE_TRUNK_SLOPING:?
TREE_ROOT_SLOPING_DEAD:?
TREE_TRUNK_SLOPING_DEAD:?
TREE_ROOTS:?
TREE_ROOTS_DEAD:?
TREE_BRANCHES:?
TREE_BRANCHES_DEAD:?
TREE_SMOOTH_BRANCHES:?
TREE_SMOOTH_BRANCHES_DEAD:?
TREE_TRUNK_PILLAR:?
TREE_TRUNK_PILLAR_DEAD:?
TREE_CAP_PILLAR:?
TREE_CAP_PILLAR_DEAD:?
TREE_TRUNK_N:?
TREE_TRUNK_S:?
TREE_TRUNK_N_DEAD:?
TREE_TRUNK_S_DEAD:?
TREE_TRUNK_EW:?
TREE_TRUNK_EW_DEAD:?
TREE_CAP_WALL_N:?
TREE_CAP_WALL_S:?
TREE_CAP_WALL_N_DEAD:?
TREE_CAP_WALL_S_DEAD:?
TREE_TRUNK_E:?
TREE_TRUNK_W:?
TREE_TRUNK_E_DEAD:?
TREE_TRUNK_W_DEAD:?
TREE_TRUNK_NS:?
TREE_TRUNK_NS_DEAD:?
TREE_CAP_WALL_E:?
TREE_CAP_WALL_W:?
TREE_CAP_WALL_E_DEAD:?
TREE_CAP_WALL_W_DEAD:?
TREE_TRUNK_NW:?
TREE_CAP_WALL_NW:?
TREE_TRUNK_NW_DEAD:?
TREE_CAP_WALL_NW_DEAD:?
TREE_TRUNK_NE:?
TREE_CAP_WALL_NE:?
TREE_TRUNK_NE_DEAD:?
TREE_CAP_WALL_NE_DEAD:?
TREE_TRUNK_SW:?
TREE_CAP_WALL_SW:?
TREE_TRUNK_SW_DEAD:?
TREE_CAP_WALL_SW_DEAD:?
TREE_TRUNK_SE:?
TREE_CAP_WALL_SE:?
TREE_TRUNK_SE_DEAD:?
TREE_CAP_WALL_SE_DEAD:?
TREE_TRUNK_NSE:?
TREE_TRUNK_NSE_DEAD:?
TREE_TRUNK_NSW:?
TREE_TRUNK_NSW_DEAD:?
TREE_TRUNK_NEW:?
TREE_TRUNK_NEW_DEAD:?
TREE_TRUNK_SEW:?
TREE_TRUNK_SEW_DEAD:?
TREE_TRUNK_NSEW:?
TREE_TRUNK_NSEW_DEAD:?
TREE_TRUNK_BRANCH_N:?
TREE_TRUNK_BRANCH_N_DEAD:?
TREE_TRUNK_BRANCH_S:?
TREE_TRUNK_BRANCH_S_DEAD:?
TREE_TRUNK_BRANCH_E:?
TREE_TRUNK_BRANCH_E_DEAD:?
TREE_TRUNK_BRANCH_W:?
TREE_TRUNK_BRANCH_W_DEAD:?
TREE_BRANCH_NS:?
TREE_BRANCH_NS_DEAD:?
TREE_BRANCH_EW:?
TREE_BRANCH_EW_DEAD:?
TREE_BRANCH_NW:?
TREE_BRANCH_NW_DEAD:?
TREE_BRANCH_NE:?
TREE_BRANCH_NE_DEAD:?
TREE_BRANCH_SW:?
TREE_BRANCH_SW_DEAD:?
TREE_BRANCH_SE:?
TREE_BRANCH_SE_DEAD:?
TREE_BRANCH_NSE:?
TREE_BRANCH_NSE_DEAD:?
TREE_BRANCH_NSW:?
TREE_BRANCH_NSW_DEAD:?
TREE_BRANCH_NEW:?
TREE_BRANCH_NEW_DEAD:?
TREE_BRANCH_SEW:?
TREE_BRANCH_SEW_DEAD:?
TREE_BRANCH_NSEW:?
TREE_BRANCH_NSEW_DEAD:?
TREE_TWIGS:?
TREE_TWIGS_DEAD:?
TREE_CAP_RAMP:?
TREE_CAP_RAMP_DEAD:?
TREE_CAP_FLOOR1:?
TREE_CAP_FLOOR2:?
TREE_CAP_FLOOR1_DEAD:?
TREE_CAP_FLOOR2_DEAD:?
TREE_CAP_FLOOR3:?
TREE_CAP_FLOOR4:?
TREE_CAP_FLOOR3_DEAD:?
TREE_CAP_FLOOR4_DEAD:?
TREE_TRUNK_INTERIOR:?
TREE_TRUNK_INTERIOR_DEAD:?

VARIED_GROUND_TILES:?