source=C:\Users\Button\Documents\Non-Academic\Games\DF\Graphics\[16x16] Spacefox 34.11v1.0
target=C:\Users\Button\Documents\Non-Academic\Games\DF\Versions\DF2015\DF 0.42.1
output=resources/raws_output_directory

#Experimental
extra_source=

#Logging
logfile=bamm.log
modders_log=missing.log
verbose=True

#Not yet implemented
save=resources/graphics_output_directory
graphics_overwrite=.*/art/.*,.*/colors.txt,.*/overrides.txt,.*/graphics/.*,.*/language.*txt

#Syntax info DO NOT CHANGE
ascii=resources/ascii.config
templates=resources/graphicstemplates.config
graphics_ignore=.*/announcement/.*,.*/dipscript/.*,.*/help/.*,.*/initial_movies/.*,.*/sound/.*,.*/speech/.*,.*/index,.*/text/.*,.*/notes/.*