templates=resources/graphicstemplates.config
source=resources/graphics_source_directory
target=resources/raws_source_directory
output=resources/raws_output_directory
save=resources/graphics_output_directory
ascii=resources/ascii.config
verbose=True

#Not yet implemented
graphics_overwrite=.*/art/.*,.*/colors.txt,.*/overrides.txt,.*/graphics/.*,.*/language.*txt
graphics_ignore=.*/announcement/.*,.*/dipscript/.*,.*/help/.*,.*/initial_movies/.*,.*/sound/.*,.*/speech/.*,.*/index,.*/text/.*,.*/notes/.*
